.logo  img{
    margin: 300px auto 50px auto;
    display: block;
    
}

button {
    width: 200px;
}

.form #search {
    display: block;
    margin: 0 auto;
    width: 25rem;
}

button {
    display: inline-block;
    margin: 0 auto;
}

.buttons {
    display: block;
    margin: 20px auto;
    text-align: center;
}

header {
    display: block;
    text-align: right;
    float: top;
}

header li, footer li{
    display: inline;
}

.quicklang {
    text-align: center;
    margin: 20px auto;
}

.quickland a, .quicklang p {
    display: inline;
}

.bottom-right {
    float: bottom right;
    display: block;
}