.logo  img{
    margin: 300px auto 50px auto;
    display: block;
    
}

button {
    width: 200px;
}

.form #search {
    display: block;
    margin: 0 auto;
}

button {
    display: inline-block;
    margin: 0 auto;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}