body {
    margin: 0;
    padding: 0;
}

.logo  img{
    margin: 150px auto 50px auto;
    display: block;
    
}

button {
    width: 200px;
}

.form #search {
    display: block;
    margin: 0 auto;
    width: 25rem;
}

button {
    display: inline-block;
    margin: 0 auto;
}

.buttons {
    display: block;
    margin: 20px auto;
    text-align: center;
}

header {
    display: block;
    text-align: right;
    float: top;
}

header li, footer li{
    display: inline;
}

.quicklang {
    text-align: center;
    margin: 20px auto;
}

.quicklang a, .quicklang p {
    display: inline;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    padding: auto;
    width: 100%;
    min-width: 980px;
}

#footer-right {
    text-align: right;
    float: right;
    border: 1px solid grey;
    padding-right: 20px;
}

#footer-left {
    text-align: left;
    border: 1px solid grey;
    float: left;
    padding-left: 20px;
}

footer {
    background-color: rgb(242, 242, 242);
    border: 1px  0 solid #e4e4e4;
}

footer li {
    margin: auto 10px;
}

header li {
    margin: auto 4px;
}